@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Roboto:wght@300&display=swap');

nav {
    background-color: #80b918;
    line-height: 3em;

    text-align: center;
    font-size: 1.2em;


}

nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

nav a {

    /* margin-top: 30px; */
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    border: 1px;
    padding: 1px;
    padding: 20px;

}

nav a:link,
nav a:visited {
    color: #43291f;
}

nav a:hover {
    color: #43291f;
    background-color: #aacc00;
    ;
}


.logo {
    width: 95px;
    height: 95px;
    border-radius: 55%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#logo_link {
    justify-self: center;
    align-self: center;
    margin-bottom: -23px;
    /* pointer-events: none; */
    padding: 0%;
}



body {
    background-color: #f4f0bb;
    color: #43291f;


}

h1 {
    text-align: center;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    color: black;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin-top: 0%;
    margin-bottom: 40px;


}






#home-content {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    font-size: x-large;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    font-family: 'Roboto', sans-serif;
}

#image {
    width: 500px;
    margin: 0 auto;
    justify-items: left;
    padding-left: 285px;

}

form {
  align-items: center;
  width: 350px;
 padding-right: 0;
 padding-left: 200px;
  display: block;
  margin: 0 auto;
  grid-row: 1/2;
  border: solid 2px black;
  padding-top: 40px;
  padding-bottom: 40px;
}

#cooking {
    align-items: center;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

input {
    height: 20px;
}



footer {
    background-color: #80b918;
    padding: 25px 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #43291f;

}

footer a {
    text-decoration: none;
    color: #43291f;
}

footer a:hover {
    color: #43291f;
    background-color: #aacc00;
    ;
}

.social {
    text-decoration: none;

}

